h1{
    text-align: center;
    }
body{
    background-color: rgb(154, 231, 241);
}
form{
    text-align: center;
    font-size: larger;
}
.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  #result{
    font-size: large;
    border: 3px solid black;
    width:300px;
    margin-left:600px;
    
  }